




<app-nav></app-nav>

<section class="home-section">
  <nav>
    <div class="sidebar-button">
      <i class='bx bx-menu sidebarBtn'><a [routerLink]="['/gestpointa']"><img src="../../../assets/icon/employe.png" alt=""></a></i>
      <span class="dashboard">Dispositif</span>
    </div>
    <div class="search-box">
      <input type="text" placeholder="Recherche...">
      <i class='bx bx-search' ><img src="../../../assets/icon/rechercher.png" alt=""></i>
    </div>
    <div class="profile-details">
      <!--<img src="images/profile.jpg" alt="">-->
      <app-entete></app-entete>
    </div>
  </nav>

<div class="home-content">
    <app-rubrique></app-rubrique>
    <div class="sales-boxes">
        <div class="recent-sales box">
          <div class="title">Liste Dispositif</div>
          <div class="sales-details">



<!--Formulaire-->

<table class="table">
  <thead>
    <tr>

      <th scope="col">Nom Dispositif</th>
      <th scope="col">Numero Dispositif</th>
      <th scope="col">Adresse IP</th>
      <th scope="col">Port</th>
      <th scope="col">Service</th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let dispositif of listdispositifs">
      <td><img src="../../../../../assets/icon/Dispositif.png" alt=""> {{dispositif.nom}}</td>
      <td>{{dispositif.identifiant}}</td>
      <td>{{dispositif.ip_dispo}}</td>
      <td>{{dispositif.port}}</td>
      <td>{{dispositif.nom_service}}</td>
      <td><button type="button" class="btn btn-primary">Actif</button></td>
    </tr>

  </tbody>
</table>


          </div>
          <div class="button">

          </div>
        </div>
        <div class="top-sales box">
          <app-gestdispositif></app-gestdispositif>
        </div>
      </div>

  </div>
</section>

<script>
 let sidebar = document.querySelector(".sidebar");
let sidebarBtn = document.querySelector(".sidebarBtn");
sidebarBtn.onclick = function() {
sidebar.classList.toggle("active");
if(sidebar.classList.contains("active")){
sidebarBtn.classList.replace("bx-menu" ,"bx-menu-alt-right");
}else
sidebarBtn.classList.replace("bx-menu-alt-right", "bx-menu");
}
</script>

