




<app-nav></app-nav>

<section class="home-section">
  <nav>
    <div class="sidebar-button">
      <i class='bx bx-menu sidebarBtn'><a href="gestpointa"><img src="../../../assets/icon/employe.png" alt=""></a></i>
      <span class="dashboard">Pointages</span>
    </div>
    <div class="search-box">
      <input type="text" placeholder="Recherche...">
      <i class='bx bx-search' ><img src="../../../assets/icon/rechercher.png" alt=""></i>
    </div>
    <div class="profile-details">
      <!--<img src="images/profile.jpg" alt="">-->
      <app-entete></app-entete>
    </div>
  </nav>

<div class="home-content">
  <app-rubrique></app-rubrique>

    <div class="sales-boxes">
        <div class="recent-sales box">
          <div class="title">Pointages</div>
          <div class="sales-details">



<!--Formulaire-->

<table class="table">
  <app-listpoint></app-listpoint>
</table>



          </div>
          <div class="button">
            <a href="#" >Recherche</a>
          </div>
        </div>
        <div class="top-sales box">
          <div class="title">Gestion Pointage</div>
          <ul class="top-sales-details">
            <li>
            <a href="ajoutempl">
              <!--<img src="images/sunglasses.jpg" alt="">-->
              <span class="product">Pointage par employé</span>
            </a>
            <span class="price"><img src="../../../assets/icon/ajoute.png" alt=""></span>
          </li>
          <li>
            <a href="modifempl">
               <!--<img src="images/jeans.jpg" alt="">-->
              <span class="product">Pointage par Service</span>
            </a>
            <span class="price"><img src="../../../assets/icon/modifier.png" alt=""></span>
          </li>
          <li>
            <a href="#">
             <!-- <img src="images/nike.jpg" alt="">-->
              <span class="product">Pointage par Site</span>
            </a>
            <span class="price"><img src="../../../assets/icon/supprimer.png" alt=""></span>
          </li>
          <li>
            <a href="#">
              <!--<img src="images/scarves.jpg" alt="">-->
              <span class="product">Pointage par Localite</span>
            </a>
            <span class="price"><img src="../../../assets/icon/autorisation.png" alt=""></span>
          </li>
          <li>
            <a href="#">
              <!--<img src="images/bag.jpg" alt="">-->
              <span class="product">Imprimer la liste des pointages</span>
            </a>
            <span class="price"><img src="../../../assets/icon/imprimante.png" alt=""></span>

          </ul>
        </div>
      </div>

  </div>
</section>

<script>
 let sidebar = document.querySelector(".sidebar");
let sidebarBtn = document.querySelector(".sidebarBtn");
sidebarBtn.onclick = function() {
sidebar.classList.toggle("active");
if(sidebar.classList.contains("active")){
sidebarBtn.classList.replace("bx-menu" ,"bx-menu-alt-right");
}else
sidebarBtn.classList.replace("bx-menu-alt-right", "bx-menu");
}
</script>

