<div class="title">Gestion Site</div>
          <ul class="top-sales-details">
            <li>
            <a href="ajoutsite">
              <!--<img src="images/sunglasses.jpg" alt="">-->
              <span class="product">Ajouter un Site</span>
            </a>
            <span class="price"><img src="../../../assets/icon/ajoute.png" alt=""></span>
          </li>
          <li>
            <a href="pointasite">
               <!--<img src="images/jeans.jpg" alt="">-->
              <span class="product">Afficher l'ensemble des pointages</span>
            </a>
            <span class="price"><img src="../../../assets/icon/modifier.png" alt=""></span>
          </li>
          <li>
            <a href="#">
             <!-- <img src="images/nike.jpg" alt="">-->
              <span class="product">Afficher le(s) dispositif(s) d'un site</span>
            </a>
            <span class="price"><img src="../../../assets/icon/supprimer.png" alt=""></span>
          </li>
          <li>
            <a href="accueilemploye">
              <!--<img src="images/scarves.jpg" alt="">-->
              <span class="product">Employé par Site</span>
            </a>
            <span class="price"><img src="../../../assets/icon/autorisation.png" alt=""></span>
          </li>
          <li>
            <a href="#">
              <!--<img src="images/bag.jpg" alt="">-->
              <span class="product">Imprimer la liste des pointages</span>
            </a>
            <span class="price"><img src="../../../assets/icon/imprimante.png" alt=""></span>

          </ul>
