<div class="title">Gestion Quartier</div>
      <ul class="top-sales-details">
        <li>
        <a [routerLink]="['/accueilpays']">
          <!--<img src="images/sunglasses.jpg" alt="">-->
          <span class="product">Afficher la liste</span>
        </a>
        <span class="price"><img src="../../../assets/icon/employe.png" alt=""></span>
      </li>
      <li>
        <a [routerLink]="['/pointapays']">
           <!--<img src="images/jeans.jpg" alt="">-->
          <span class="product">Afficher le pointage par Pays</span>
        </a>
        <span class="price"><img src="../../../assets/icon/sites.png" alt=""></span>
      </li>
      <li>
        <a [routerLink]="['/accueillocalite']">
           <!--<img src="images/jeans.jpg" alt="">-->
          <span class="product">Menu Localite</span>
        </a>
        <span class="price"><img src="../../../assets/icon/sites.png" alt=""></span>
      </li>
      <li>
        <a [routerLink]="">
          <!--<img src="images/bag.jpg" alt="">-->
          <span class="product">Imprimer</span>
        </a>
        <span class="price"><img src="../../../assets/icon/imprimante.png" alt=""></span>

      </ul>
