<div class="title">Ajoute Mission</div>
<form class="row g-3 needs-validation" novalidate>
    <div class="col-md-4 position-relative">
      <label for="validationTooltip01" class="form-label">Prenom</label>
      <input type="text" class="form-control" id="validationTooltip01" value="" required>
      <div class="valid-tooltip">
        
      </div>
    </div>

    <div class="col-md-4 position-relative">
      <label for="validationTooltip02" class="form-label">Nom</label>
      <input type="text" class="form-control" id="validationTooltip02" value="" required>
      <div class="valid-tooltip">
      </div>
    </div>

    <div class="col-md-4 position-relative">
        <label for="validationTooltip02" class="form-label">Poste</label>
        <input type="text" class="form-control" id="validationTooltip02" value="" required>
        <div class="valid-tooltip">
        </div>
      </div>

    <div class="col-md-4 position-relative">
        <label for="validationTooltip02" class="form-label">Matricule</label>
        <input type="number" class="form-control" id="validationTooltip02" value="" required>
        <div class="valid-tooltip">  
        </div>
      </div>
    
      <div class="col-md-4 position-relative">
        <label for="validationTooltip02" class="form-label">Service</label>
        <input type="text" class="form-control" id="validationTooltip02" value="" required>
        <div class="valid-tooltip">
        </div>
      </div>

      <div class="col-md-4 position-relative">
        <label for="validationTooltip02" class="form-label">Site</label>
        <input type="text" class="form-control" id="validationTooltip02" value="" required>
        <div class="valid-tooltip">
        </div>
      </div>

      <div class="col-md-4 position-relative">
        <label for="validationTooltip02" class="form-label">Contact</label>
        <input type="number" class="form-control" id="validationTooltip02" value="" required>
        <div class="valid-tooltip">
        </div>
      </div>

      <div class="col-md-4 position-relative">
        <label for="validationTooltip02" class="form-label">Absence</label>
        <input type="text" class="form-control" id="validationTooltip02" value="" required>
        <div class="valid-tooltip">
        </div>
      </div>

      <div class="col-md-4 position-relative">
        <label for="validationTooltip02" class="form-label">Logs</label>
        <input type="text" class="form-control" id="validationTooltip02" value="" required>
        <div class="valid-tooltip">
        </div>
      </div>

    
    <div class="col-12">
      <button class="btn btn-primary" type="submit">Sauvegarder</button>
    </div>
  </form>