<div class="title">Gestion utilisateur</div>
      <ul class="top-sales-details">
        <li>
        <a href="ajoututilisateur">
          <!--<img src="images/sunglasses.jpg" alt="">-->
          <span class="product">ajouter un utilisateur</span>
        </a>
        <span class="price"><img src="../../../assets/icon/employe.png" alt=""></span>
      </li>
      
        <a href="#">
          <!--<img src="images/bag.jpg" alt="">-->
          <span class="product">Imprimer la liste des pointages</span>
        </a>
        <span class="price"><img src="../../../assets/icon/imprimante.png" alt=""></span>
      
      </ul>