<div class="title">Gestion Ville</div>
      <ul class="top-sales-details">
        <li>
        <a [routerLink]="['/accueilville']">
          <!--<img src="images/sunglasses.jpg" alt="">-->
          <span class="product">Afficher la liste</span>
        </a>
        <span class="price"><img src="../../../assets/icon/employe.png" alt=""></span>
      </li>
      <li>
        <a [routerLink]="['/pointaville']">
           <!--<img src="images/jeans.jpg" alt="">-->
          <span class="product">Afficher le pointage par ville</span>
        </a>
        <span class="price"><img src="../../../../../../../assets/icon/pointages.png" alt=""></span>
      </li>
      <li>
        <a [routerLink]="['/accueillocalite']">
           <!--<img src="images/jeans.jpg" alt="">-->
          <span class="product">Menu Localite</span>
        </a>
        <span class="price"><img src="../../../assets/icon/sites.png" alt=""></span>
      </li>
      <li>
        <a [routerLink]="">
          <!--<img src="images/bag.jpg" alt="">-->
          <span class="product">Imprimer</span>
        </a>
        <span class="price"><img src="../../../assets/icon/imprimante.png" alt=""></span>

      </ul>
