<div class="title">Gestion service</div>
          <ul class="top-sales-details">
            <li>
            <a href="ajoutservice">
              <!--<img src="images/sunglasses.jpg" alt="">-->
              <span class="product">Ajout Service</span>
            </a>
            <span class="price"><img src="../../../assets/icon/ajoute.png" alt=""></span>
          </li>
          <li>
            <a href="affichservice">
               <!--<img src="images/jeans.jpg" alt="">-->
              <span class="product">Liste Service</span>
            </a>
            <span class="price"><img src="../../../assets/icon/modifier.png" alt=""></span>
          </li>
          <li>
            <a href="#">
             <!-- <img src="images/nike.jpg" alt="">-->
              <span class="product">Supprimer un service</span>
            </a>
            <span class="price"><img src="../../../assets/icon/supprimer.png" alt=""></span>
          </li>

          <li>
            <a href="#">
              <!--<img src="images/bag.jpg" alt="">-->
              <span class="product">Imprimer la liste des pointages</span>
            </a>
            <span class="price"><img src="../../../assets/icon/imprimante.png" alt=""></span>

          </ul>
