<div class="title">Gestion Utilisateur</div>
          <ul class="top-sales-details">
            <li>
            <a href="ajoutempl">
              <!--<img src="images/sunglasses.jpg" alt="">-->
              <span class="product">Ajout Utilisateur</span>
            </a>
            <span class="price"><img src="../../../assets/icon/ajoute.png" alt=""></span>
          </li>
          <li>
            <a href="modifempl">
               <!--<img src="images/jeans.jpg" alt="">-->
              <span class="product">Modifier les données d'un employé</span>
            </a>
            <span class="price"><img src="../../../assets/icon/modifier.png" alt=""></span>
          </li>
          <li>
            <a href="#">
             <!-- <img src="images/nike.jpg" alt="">-->
              <span class="product">Supprimer un employé</span>
            </a>
            <span class="price"><img src="../../../assets/icon/supprimer.png" alt=""></span>
          </li>
          <li>
            <a href="#">
              <!--<img src="images/scarves.jpg" alt="">-->
              <span class="product">Gestion de droit</span>
            </a>
            <span class="price"><img src="../../../assets/icon/autorisation.png" alt=""></span>
          </li>
          <li>
            <a href="#">
              <!--<img src="images/bag.jpg" alt="">-->
              <span class="product">Imprimer la liste des pointages</span>
            </a>
            <span class="price"><img src="../../../assets/icon/imprimante.png" alt=""></span>

          </ul>
