
        
    
<div class="wrapper">
      <div class="title-text">
        <div class="title login"><a href=""><img src="../../../../assets/img/logoe.png" alt=""></a></div>
        
      </div>
      <div class="form-container">
        <div class="slide-controls">
          <input type="radio" name="slide" id="login" checked>
          <input type="radio" name="slide" id="signup">
          <label for="login" class="slide login">Authentification</label>
          
          <div class="slider-tab"></div>
        </div>
        <div class="form-inner">
          <form action="#" class="login" [formGroup]="LoginForm" class="login-container" (ngSubmit)="loginFonction()">
            
            <pre>
            </pre>
            <div class="field">
              <input type="text" formControlName="username" placeholder="Nom utilisateur" >
            </div>

            <div *ngIf="LoginForm.controls['username'].invalid && (LoginForm.controls['username'].dirty || LoginForm.controls['username'].touched)" class="alert alert-danger">
              <div *ngIf="LoginForm.controls['username'].errors?.['required']">
                Nom utilisateur requise.
              </div></div>

            <div class="field">
              <input type="password" formControlName="password" placeholder="Mots de passe" required>
            </div>

            <div *ngIf="LoginForm.controls['password'].invalid && (LoginForm.controls['password'].dirty || LoginForm.controls['password'].touched)" class="alert alert-danger">
              <div *ngIf="LoginForm.controls['password'].errors?.['required']">
                Mots de passe requise.
              </div></div>

            <div class="pass-link"><a href="dashboard">Mot de passe oublié?</a></div>
            <div class="field btn">
              <div class="btn-layer"></div>
              <input type="submit" [disabled]="LoginForm.pristine || LoginForm.invalid" value="Connextion">
            </div>
            
          </form>
          <form action="#" class="signup">
            <div class="field">
              <input type="text" placeholder="Name" required>
            </div>
            <div class="field">
              <input type="text" placeholder="Email Address" required>
            </div>
            <div class="field">
              <input type="password" placeholder="Password" required>
            </div>
            <div class="field">
              <input type="password" placeholder="Confirm password" required>
            </div>
            <div class="field btn">
              <div class="btn-layer"></div>
              <input type="submit" value="Signup">
            </div>
            <div class="signup-link">Already have an account? <a href="">Login</a></div>
          </form>
        </div>
      </div>
    </div>
  <script  src="./script.js"></script>

 
