




<app-nav></app-nav>

<section class="home-section">
  <nav>
    <div class="sidebar-button">
      <i class='bx bx-menu sidebarBtn'><a href="gestpointa"><img src="../../../assets/icon/employe.png" alt=""></a></i>
      <span class="dashboard">Employe</span>
    </div>
    <div class="search-box">
      <input type="text" placeholder="Recherche...">
      <i class='bx bx-search' ><img src="../../../assets/icon/rechercher.png" alt=""></i>
    </div>
    <div class="profile-details">
      <!--<img src="images/profile.jpg" alt="">-->
      <app-entete></app-entete>
    </div>
  </nav>

<div class="home-content">
  <app-rubrique></app-rubrique>
    <div class="sales-boxes">
        <div class="recent-sales box">
          <div class="title">Ajoute employé</div>

          <!--message d'erreur-->
          <div *ngIf="alert" class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>Sauvegarder!</strong>Enregistre avec success.
          </div>

          <div class="sales-details">



<!--Formulaire-->

<form action="#" class="row g-3" [formGroup]="emplForm" (ngSubmit)="EmplFonction()">
  <div class="col-md-4">
    <label for="validationServer01" class="form-label">Nom</label>
    <input type="nom" formControlName="nom" class="form-control " name="ngModel" id="nom" value="nom" required>
    <div class="valid-feedback">



    </div>
  </div>
  <div class="col-md-4">
    <label for="validationServer02" class="form-label">Prenom</label>
    <input type="prenom" formControlName="prenom" class="form-control " name="ngModel" id="prenom" value="prenom" required>
    <div class="valid-feedback">
    </div>
  </div>

  <div class="col-md-4">
    <label for="validationServer02" class="form-label">Matricule</label>
    <input type="matricule" formControlName="matricule" class="form-control " name="ngModel" id="matricule" value="matricule" required>
    <div class="valid-feedback">
    </div>
  </div>

  <div class="col-md-4">
    <label for="validationServer02" class="form-label">Telephone</label>
    <input type="telephone" formControlName="telephone" class="form-control " id="telephone" value="telephone" required>
    <div class="valid-feedback">
    </div>
  </div>

  <div class="col-md-4">
    <label for="validationServer02" class="form-label">Mots de passe</label>
    <input type="password" formControlName="password" class="form-control " name="ngModel" id="password" value="mdp" required>
    <div class="valid-feedback">
    </div>
  </div>

  <div class="col-md-4">
    <label for="validationServer02" class="form-label">Service</label>
    <select type="service" formControlName="service" class="form-control " name="ngModel" id="service" value="service" required>
      <option *ngFor="let service of listeservices" value="{{service?.id}}">{{service?.nom_service}}</option>
    </select>
    <div class="valid-feedback">
    </div>
  </div>

  <div class="col-md-4">
    <label for="validationServer02" class="form-label">Poste</label>
    <input type="poste_emp" formControlName="poste_emp" class="form-control " name="ngModel" id="poste_emp" value="poste_emp" required>
    <div class="valid-feedback">
    </div>
  </div>

  <div class="col-md-4">
    <label for="validationServer02" class="form-label">Photo</label>
    <input type="file" formControlName="photo" class="form-control " ng-model="photo"(change)="onChange($event)" id="photo" value="photo" required>
    <div class="valid-feedback">
    </div>
  </div>



  <div class="col-12">
    <input  class="btn btn-primary" type="submit"   value="Ajouter">
  </div>
</form>


          </div>

        </div>
        <div class="top-sales box">
          <app-gestempl></app-gestempl>
        </div>
      </div>

  </div>
</section>

<script>
 let sidebar = document.querySelector(".sidebar");
let sidebarBtn = document.querySelector(".sidebarBtn");
sidebarBtn.onclick = function() {
sidebar.classList.toggle("active");
if(sidebar.classList.contains("active")){
sidebarBtn.classList.replace("bx-menu" ,"bx-menu-alt-right");
}else
sidebarBtn.classList.replace("bx-menu-alt-right", "bx-menu");
}
</script>

