




<app-nav></app-nav>

<section class="home-section">
  <nav>
    <div class="sidebar-button">
      <i class='bx bx-menu sidebarBtn'><a [routerLink]="['/gestpointa']"><img src="../../../assets/icon/employe.png" alt=""></a></i>
      <span class="dashboard">Gestion</span>
    </div>
    <div class="search-box">
      <input type="text" placeholder="Recherche...">
      <i class='bx bx-search' ><img src="../../../assets/icon/rechercher.png" alt=""></i>
    </div>
    <div class="profile-details">
      <!--<img src="images/profile.jpg" alt="">-->
      <app-entete></app-entete>
    </div>
  </nav>

<div class="home-content">
    <app-rubrique></app-rubrique>
    <div class="sales-boxes">
        <div class="recent-sales box">
          <div class="title"></div>
          <div class="sales-details">



<!--Formulaire-->

<div class="d-grid gap-1 col-md-12 mx-auto">
 <a [routerLink]="['/accueilabsence']"><button class="btn btn-primary"  type="button">Gestion absence</button></a>
 <a [routerLink]="['/accueilconge']"><button class="btn btn-primary"  type="button">Gestion Conge</button></a>
 <a [routerLink]="['/accueilmutation']"><button class="btn btn-primary"  type="button">Gestion Mutation</button></a>
 <a [routerLink]="['/accueilretard']"><button class="btn btn-primary"  type="button">Gestion Retard</button></a>
 <a [routerLink]="['/accueilmission']"><button class="btn btn-primary"  type="button">Gestion Mission</button></a>
</div>





          </div>
          <div class="button">
            <a [routerLink]="" >See All</a>
          </div>
        </div>
        <div class="top-sales box">
          <div class="title">Gestion employé</div>
          <ul class="top-sales-details">
            <li>
            <a [routerLink]="['/ajoutempl']">
              <!--<img src="images/sunglasses.jpg" alt="">-->
              <span class="product">Ajouter un employé</span>
            </a>
            <span class="price"><img src="../../../assets/icon/ajoute.png" alt=""></span>
          </li>
          <li>
            <a [routerLink]="['/modifempl']">
               <!--<img src="images/jeans.jpg" alt="">-->
              <span class="product">Modifier les données d'un employé</span>
            </a>
            <span class="price"><img src="../../../assets/icon/modifier.png" alt=""></span>
          </li>
          <li>
            <a [routerLink]="">
             <!-- <img src="images/nike.jpg" alt="">-->
              <span class="product">Supprimer un employé</span>
            </a>
            <span class="price"><img src="../../../assets/icon/supprimer.png" alt=""></span>
          </li>
          <li>
            <a [routerLink]="">
              <!--<img src="images/scarves.jpg" alt="">-->
              <span class="product">Gestion de droit</span>
            </a>
            <span class="price"><img src="../../../assets/icon/autorisation.png" alt=""></span>
          </li>
          <li>
            <a [routerLink]="">
              <!--<img src="images/bag.jpg" alt="">-->
              <span class="product">Imprimer la liste des pointages</span>
            </a>
            <span class="price"><img src="../../../assets/icon/imprimante.png" alt=""></span>

          </ul>
        </div>
      </div>

  </div>
</section>

<script>
 let sidebar = document.querySelector(".sidebar");
let sidebarBtn = document.querySelector(".sidebarBtn");
sidebarBtn.onclick = function() {
sidebar.classList.toggle("active");
if(sidebar.classList.contains("active")){
sidebarBtn.classList.replace("bx-menu" ,"bx-menu-alt-right");
}else
sidebarBtn.classList.replace("bx-menu-alt-right", "bx-menu");
}
</script>

