




<app-nav></app-nav>

<section class="home-section">
  <nav>
    <div class="sidebar-button">
      <i class='bx bx-menu sidebarBtn'><a href="gestpointa"><img src="../../../assets/icon/employe.png" alt=""></a></i>
      <span class="dashboard">Dispositif</span>
    </div>
    <div class="search-box">
      <input type="text" placeholder="Recherche...">
      <i class='bx bx-search' ><img src="../../../assets/icon/rechercher.png" alt=""></i>
    </div>
    <div class="profile-details">
      <!--<img src="images/profile.jpg" alt="">-->
      <app-entete></app-entete>
    </div>
  </nav>

<div class="home-content">
  <app-rubrique></app-rubrique>
    <div class="sales-boxes">
        <div class="recent-sales box">
          <div class="title">Ajout Dispositif</div>

          <!--message d'erreur-->
          <div *ngIf="alert" class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>Sauvegarder!</strong>Enregistre avec success.
          </div>


          <div class="sales-details">



<!--Formulaire-->

            <form class="row g-3 needs-validation" novalidate [formGroup]="dispositForm" (ngSubmit)="dispositifFonction()">
                <div class="col-md-4 position-relative">
                  <label for="validationTooltip01" class="form-label">Nom</label>
                  <input type="nom" formControlName="nom"  class="form-control" id="nom" value="nom" required>
                  <div class="valid-tooltip">

                  </div>
                </div>

                <div class="col-md-4 position-relative">
                  <label for="validationTooltip02" class="form-label">Identifiant</label>
                  <input type="identifiant" formControlName="identifiant" class="form-control" id="identifiant" value="identifiant" required>
                  <div class="valid-tooltip">
                  </div>
                </div>

                <div class="col-md-4 position-relative">
                    <label for="validationTooltip02" class="form-label">Adresse IP</label>
                    <input type="ip_dispo" formControlName="ip_dispo" class="form-control" id="ip_dispo" value="ip_dispo" required>
                    <div class="valid-tooltip">
                    </div>
                </div>

                <div class="col-md-4 position-relative">
                  <label for="validationTooltip02" class="form-label">Port</label>
                  <input type="port" formControlName="port" class="form-control" id="port" value="port" required>
                  <div class="valid-tooltip">
                  </div>
                </div>

                <div class="col-md-4">
                  <label for="validationServer02" class="form-label">Nom Site</label>
                  <select type="site" formControlName="site" class="form-control " name="ngModel" id="site" value="site" required>
                    <option *ngFor="let site of listesite" value="{{site?.id}}">{{site?.nomsite}}</option>
                  </select>
                  <div class="valid-feedback">
                  </div>
                </div>

                <div class="col-12">
                  <button class="btn btn-primary" type="submit">Sauvegarder</button>
                </div>
              </form>


          </div>
          <div class="button">

          </div>
        </div>
        <div class="top-sales box">
          <app-gestdispositif></app-gestdispositif>
        </div>
      </div>

  </div>
</section>

<script>
 let sidebar = document.querySelector(".sidebar");
let sidebarBtn = document.querySelector(".sidebarBtn");
sidebarBtn.onclick = function() {
sidebar.classList.toggle("active");
if(sidebar.classList.contains("active")){
sidebarBtn.classList.replace("bx-menu" ,"bx-menu-alt-right");
}else
sidebarBtn.classList.replace("bx-menu-alt-right", "bx-menu");
}
</script>

