<div class="title">Gestion Logs</div>
          <ul class="top-sales-details">
            <li>
            <a href="ajoutlogs">
              <!--<img src="images/sunglasses.jpg" alt="">-->
              <span class="product">Ajout logs</span>
            </a>
            <span class="price"><img src="../../../assets/icon/ajoute.png" alt=""></span>
          </li>
          <li>
            <a href="accueillogs">
               <!--<img src="images/jeans.jpg" alt="">-->
              <span class="product">Affiche logs</span>
            </a>
            <span class="price"><img src="../../../assets/icon/modifier.png" alt=""></span>
          </li>

          <li>
            <a href="#">
              <!--<img src="images/bag.jpg" alt="">-->
              <span class="product">Imprimer la liste des pointages</span>
            </a>
            <span class="price"><img src="../../../assets/icon/imprimante.png" alt=""></span>

          </ul>
