<div class="overview-boxes" >
    <div class="box">
      <div class="right-side">
        <div class="box-topic">Pointages</div>
        <div class="number"></div>
        <div class="indicator">
          <i class='bx bx-up-arrow-alt'></i>
          <span class="text">Total pointage</span>
        </div>
      </div>
      <i class='bx bx-cart-alt cart'><a [routerLink]="['/accueilpointage']"><img src="../../../assets/icon/pointages.png" alt=""></a></i>
    </div>
    <div class="box" >
      <div class="right-side">
        <div class="box-topic">Employe</div>
        <div class="number"></div>
        <div class="indicator">
          <i class='bx bx-up-arrow-alt'>{{countempl}}</i>
          <span class="text">Total employé</span>
        </div>
      </div>
      <i class='bx bxs-cart-add cart two' ><a [routerLink]="'/accueilemploye'"><img src="../../../assets/icon/employe.png" alt=""></a></i>
    </div>
    <div class="box">
      <div class="right-side">
          <div class="box-topic">Services</div>
          <div class="number"></div>
          <div class="indicator">
            <i class='bx bx-down-arrow-alt down'>{{countservice}}</i>
            <span class="text">Total services</span>
          </div>
      </div>
      <i class='bx bxs-cart-download cart four' ><a [routerLink]="['/accueilservice']"><img src="../../../assets/icon/service.png" alt=""></a></i>
      </div>
    <div class="box">
      <div class="right-side">
        <div class="box-topic">Sites</div>
        <div class="number"></div>
        <div class="indicator">
          <i class='bx bx-up-arrow-alt'>{{countsite}}</i>
          <span class="text">Total sites</span>
        </div>
      </div>
      <i class='bx bx-cart cart three'><a [routerLink]="['/accueilsite']"><img src="../../../assets/icon/sites.png" alt=""></a></i>
    </div>
    </div>
