<div class="overview-boxes">
    <div class="box">
      <div class="right-side">
        <div class="box-topic">Pointages</div>
        <div class="number">707</div>
        <div class="indicator">
          <i class='bx bx-up-arrow-alt'></i>
          <span class="text">Total pointage</span>
        </div>
      </div>
      <i class='bx bx-cart-alt cart'><a href="gestpointa"><img src="../../../assets/icon/pointages.png" alt=""></a></i>
    </div>
    <div class="box">
      <div class="right-side">
        <div class="box-topic">Employe</div>
        <div class="number">476</div>
        <div class="indicator">
          <i class='bx bx-up-arrow-alt'></i>
          <span class="text">Total employé</span>
        </div>
      </div>
      <i class='bx bxs-cart-add cart two' ><a href="gestionempl"><img src="../../../assets/icon/employe.png" alt=""></a></i>
    </div>
    <div class="box">
      <div class="right-side">
        <div class="box-topic">Sites</div>
        <div class="number">14</div>
        <div class="indicator">
          <i class='bx bx-up-arrow-alt'></i>
          <span class="text">Total sites</span>
        </div>
      </div>
      <i class='bx bx-cart cart three'><a href="gestionsite"><img src="../../../assets/icon/sites.png" alt=""></a></i>
    </div>
    <div class="box">
    <div class="right-side">
        <div class="box-topic">Services</div>
        <div class="number">5</div>
        <div class="indicator">
          <i class='bx bx-down-arrow-alt down'></i>
          <span class="text">Total services</span>
        </div>
    </div>
    <i class='bx bxs-cart-download cart four' ><a href="gestionservice"><img src="../../../assets/icon/service.png" alt=""></a></i>
    </div>
    </div>