<div class="title">Gestion Dispositifs</div>
      <ul class="top-sales-details">
        <li>
        <a [routerLink]="['/ajoutdispositif']">
          <!--<img src="images/sunglasses.jpg" alt="">-->
          <span class="product">Ajouter un Dispositif</span>
        </a>
        <span class="price"><img src="../../../assets/icon/employe.png" alt=""></span>
      </li>
      <li>
        <a [routerLink]="">
           <!--<img src="images/jeans.jpg" alt="">-->
          <span class="product">Dispositif par site</span>
        </a>
        <span class="price"><img src="../../../assets/icon/sites.png" alt=""></span>
      </li>
      <li>
        <a [routerLink]="">
         <!-- <img src="images/nike.jpg" alt="">-->
          <span class="product">Pointage par Dispositif</span>
        </a>
        <span class="price"><img src="../../../assets/icon/service.png" alt=""></span>
      </li>

      <li>
        <a [routerLink]="['/accueildispositif']">
          <!--<img src="images/blueBag.jpg" alt="">-->
          <span class="accueildispositif">Liste Dispositif</span>
        </a>
        <span class="price"><img src="../../../assets/icon/Dispositif.png" alt=""></span>
      </li>
      <li>
        <a [routerLink]="">
          <!--<img src="images/bag.jpg" alt="">-->
          <span class="product">Imprimer la liste des pointages</span>
        </a>
        <span class="price"><img src="../../../assets/icon/imprimante.png" alt=""></span>

      </ul>
