<div class="sidebar">
    <div class="logo-details" >
      <i class='bx bxl-c-plus-plus'></i>
      <span class="logo_name" ><a [routerLink]="['/dashboard']"><img src="../../../assets/img/ewaati.png" alt=""></a></span>
    </div>
      <ul class="nav-links">
        <li>
          <a [routerLink]="['/accueilpointage']"routerLinkActive="active" >
            <i class='bx bx-grid-alt' ><img src="../../../assets/icon/pointages.png" alt=""></i>
            <span class="links_name">
                Pointages
            </span>
          </a>
        </li>

        <li>
          <a [routerLink]="['/accueilemploye']" routerLinkActive="active">
            <i class='bx bx-grid-alt' ><img src="../../../assets/icon/employe.png" alt=""> </i>
            <span class="links_name" >
                Employe
            </span>
          </a>
        </li>

        <li>
          <a [routerLink]="['/accueilservice']" routerLinkActive="active">
            <i class='bx bx-grid-alt' ><img src="../../../assets/icon/service.png" alt=""></i>
            <span class="links_name" >
                Services
            </span>
          </a>
        </li>

        <li>
          <a [routerLink]="'/accueilsite'" routerLinkActive="active">
            <i class='bx bx-grid-alt'><img src="../../../assets/icon/sites.png" alt=""></i>
            <span class="links_name">
                Sites
            </span>
          </a>
        </li>

        <li>
          <a [routerLink]="['/accueildispositif']" routerLinkActive="active">
            <i class='bx bx-grid-alt'><img src="../../../assets/icon/Dispositif.png" alt=""></i>
            <span class="links_name" >
                Dispositif
            </span>
          </a>
        </li>

        <li>
          <a [routerLink]="['/accueilgestion']" routerLinkActive="active">
            <i class='bx bx-box'> <img src="../../../assets/icon/gestion.png" alt=""></i>
            <span class="links_name">Gestions</span>
          </a>
        </li>
        <li>
          <a [routerLink]="['/accueillogs']" routerLinkActive="active">
            <i class='bx bx-list-ul'><img src="../../../assets/icon/journal.png" alt=""></i>
            <span class="links_name">Logs</span>
          </a>
        </li>
        <li>
          <a [routerLink]="" routerLinkActive="active">
            <i class='bx bx-pie-chart-alt-2'><img src="../../../assets/icon/reparation.png" alt=""></i>
            <span class="links_name">Reglages</span>
          </a>
        </li>
        <li>
          <a [routerLink]="['/accueillocalite']" routerLinkActive="active">
            <i class='bx bx-coin-stack'><img src="../../../assets/icon/localite.png" alt=""></i>
            <span class="links_name">Localite</span>
          </a>
        </li>

        <li>
          <a [routerLink]="['/affichutilisateur']" routerLinkActive="active">
            <i class='bx bx-coin-stack'><img src="../../../assets/icon/user.png" alt=""></i>
            <span class="links_name">Utilisateur</span>
          </a>
        </li>

        <li class="log_out">
          <a [routerLink]="['/deconnexion']">
            <i class='bx bx-log-out'><img src="../../../assets/icon/deconnexion.png" alt=""></i>
            <span class="links_name">Deconnexion</span>
          </a>
        </li>
      </ul>
  </div>
