<div class="title">Ajoute Absence</div>
<form class="row g-3 needs-validation" novalidate>
    <div class="col-md-4 position-relative">
      <label for="validationTooltip01" class="form-label">Prenom</label>
      <input type="text" formControlName="prenom" class="form-control" id="validationTooltip01" value="" required>
      <div class="valid-tooltip">
        
      </div>
    </div>

    <div class="col-md-4 position-relative">
      <label for="validationTooltip02" class="form-label">Nom</label>
      <input type="text" formControlName="nom" class="form-control" id="validationTooltip02" value="" required>
      <div class="valid-tooltip">
      </div>
    </div>

    <div class="col-md-4 position-relative">
      <label for="validationTooltip02" class="form-label">Matricule</label>
      <input type="text" formControlName="matricule" class="form-control" id="validationTooltip02" value="" required>
      <div class="valid-tooltip">
      </div>
    </div>

    <div class="col-md-4 position-relative">
      <label for="validationTooltip02" class="form-label">Motif</label>
      <input type="text" formControlName="motif" class="form-control" id="validationTooltip02" value="" required>
      <div class="valid-tooltip">
      </div>
    </div>

    <div class="col-md-4 position-relative">
      <label for="validationTooltip02" class="form-label">Date</label>
      <input type="date" formControlName="date" class="form-control" id="validationTooltip02" value="" required>
      <div class="valid-tooltip">
      </div>
    </div>
    

    
    <div class="col-12">
      <button class="btn btn-primary" type="submit">Sauvegarder</button>
    </div>
  </form>