




<app-nav></app-nav>

<section class="home-section">
  <nav>
    <div class="sidebar-button">
      <i class='bx bx-menu sidebarBtn'><a href="gestpointa"><img src="../../../assets/icon/employe.png" alt=""></a></i>
      <span class="dashboard">Utilisateur</span>
    </div>
    <div class="search-box">
      <input type="text" placeholder="Recherche...">
      <i class='bx bx-search' ><img src="../../../assets/icon/rechercher.png" alt=""></i>
    </div>
    <div class="profile-details">
      <!--<img src="images/profile.jpg" alt="">-->
      <app-entete></app-entete>
    </div>
  </nav>

<div class="home-content">
  <app-rubrique></app-rubrique>
    <div class="sales-boxes">
        <div class="recent-sales box">
          <div class="title">List utilisateur</div>
          <div class="sales-details">



<!--Formulaire-->

<table class="table">
  <thead>
    <tr>

      <th scope="col">Nom</th>
      <th scope="col">Prenom</th>
      <th scope="col">Matricule</th>
      <th scope="col">Telephone</th>
      <th scope="col">Email</th>
      <th scope="col">Photo</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let utilisateur of listutilisateurs">
      <td>{{utilisateur.nom}}</td>
      <td>{{utilisateur.prenom}}</td>
      <td>{{utilisateur.matricule}}</td>
      <td>{{utilisateur.telephone}}</td>
      <td>{{utilisateur.email}}</td>
      <td>{{utilisateur.photo}}</td>
    </tr>

  </tbody>
</table>


</div>
<div class="button">
  <a href="accueilutilisateur" >Recherche</a>
</div>
</div>
<div class="top-sales box">
<div class="title">Gestion Utilisateur</div>
<ul class="top-sales-details">
  <li>
  <a href="ajoututilisateur">
    <!--<img src="images/sunglasses.jpg" alt="">-->
    <span class="product">Ajout Utilisateur</span>
  </a>
  <span class="price"><img src="../../../assets/icon/ajoute.png" alt=""></span>
</li>
<li>
  <a href="modifempl">
     <!--<img src="images/jeans.jpg" alt="">-->
    <span class="product">Modifier les données d'un employé</span>
  </a>
  <span class="price"><img src="../../../assets/icon/modifier.png" alt=""></span>
</li>
<li>
  <a href="#">
   <!-- <img src="images/nike.jpg" alt="">-->
    <span class="product">Supprimer un employé</span>
  </a>
  <span class="price"><img src="../../../assets/icon/supprimer.png" alt=""></span>
</li>
<li>
  <a href="#">
    <!--<img src="images/scarves.jpg" alt="">-->
    <span class="product">Gestion de droit</span>
  </a>
  <span class="price"><img src="../../../assets/icon/autorisation.png" alt=""></span>
</li>
<li>
  <a href="#">
    <!--<img src="images/bag.jpg" alt="">-->
    <span class="product">Imprimer la liste des pointages</span>
  </a>
  <span class="price"><img src="../../../assets/icon/imprimante.png" alt=""></span>

</ul>
</div>
</div>

  </div>
</section>

<script>
 let sidebar = document.querySelector(".sidebar");
let sidebarBtn = document.querySelector(".sidebarBtn");
sidebarBtn.onclick = function() {
sidebar.classList.toggle("active");
if(sidebar.classList.contains("active")){
sidebarBtn.classList.replace("bx-menu" ,"bx-menu-alt-right");
}else
sidebarBtn.classList.replace("bx-menu-alt-right", "bx-menu");
}
</script>

