




<app-nav></app-nav>

<section class="home-section">
  <nav>
    <div class="sidebar-button">
      <i class='bx bx-menu sidebarBtn'><a href="gestpointa"><img src="../../../assets/icon/employe.png" alt=""></a></i>
      <span class="dashboard">Localite</span>
    </div>
    <div class="search-box">
      <input type="text" placeholder="Recherche...">
      <i class='bx bx-search' ><img src="../../../assets/icon/rechercher.png" alt=""></i>
    </div>
    <div class="profile-details">
      <!--<img src="images/profile.jpg" alt="">-->
      <app-entete></app-entete>
    </div>
  </nav>

<div class="home-content">
  <app-rubrique></app-rubrique>
    <div class="sales-boxes">
        <div class="recent-sales box">
          <div class="title">Ajoute Localite</div>
          <div class="sales-details">



<!--Formulaire-->

            <form class="row g-3 needs-validation" [formGroup]="localiteForm" (submit)="localiteFonction">
              <div class="col-md-6">
                <label for="validationServer02" class="form-label">Pays</label>
                <select type="pays" formControlName="pays" class="form-control " name="ngModel" id="pays" value="pays" required>
                  <option *ngFor="let pays of listepays" value="{{pays?.id}}">{{pays?.nomPays}}</option>
                </select>
                <div class="valid-feedback">
                </div>
              </div>


              <div class="col-md-6">
                <label for="validationServer02" class="form-label">Region</label>
                <select type="region" formControlName="region" class="form-control " name="ngModel" id="region" value="region" required>
                  <option *ngFor="let region of listeregion" value="{{region?.id}}">{{region?.nomRegion}}</option>
                </select>
                <div class="valid-feedback">
                </div>
              </div>


              <div class="col-md-6">
                <label for="validationServer02" class="form-label">Ville</label>
                <select type="ville" formControlName="ville" class="form-control " name="ngModel" id="ville" value="ville" required>
                  <option *ngFor="let ville of listeville" value="{{ville?.id}}">{{ville?.nomVille}}</option>
                </select>
                <div class="valid-feedback">
                </div>
              </div>



              <div class="col-md-6">
                <label for="validationServer02" class="form-label">Quartier</label>
                <select type="quartier" formControlName="quartier" class="form-control " name="ngModel" id="quartier" value="quartier" required>
                  <option *ngFor="let quartier of listequartier" value="{{quartier?.id}}">{{quartier?.nomQuartier}}</option>
                </select>
                <div class="valid-feedback">
                </div>
              </div>






                <div class="col-12">
                  <button class="btn btn-primary" type="submit">Ajouter</button>
                </div>
              </form>


          </div>
          <div class="button">

          </div>
        </div>
        <div class="top-sales box">
          <app-gestlocalit></app-gestlocalit>
        </div>
      </div>

  </div>
</section>

<script>
 let sidebar = document.querySelector(".sidebar");
let sidebarBtn = document.querySelector(".sidebarBtn");
sidebarBtn.onclick = function() {
sidebar.classList.toggle("active");
if(sidebar.classList.contains("active")){
sidebarBtn.classList.replace("bx-menu" ,"bx-menu-alt-right");
}else
sidebarBtn.classList.replace("bx-menu-alt-right", "bx-menu");
}
</script>

